.container-fluid{
    display: flex;
}
.icon a:hover ,.icon a:active{
    color: brown;
}
 a.nav-link:hover,a.nav-link:focus,a.nav-link:active{
    color:brown;
}
.carousel-item active{
    display:flex;
}
.carousel-item{
    display: flex;
} 